@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	#contact {
		background-color: black;
	}	
	#languages {
		background-color: #51E027;
	}
	.popovercontent {
		display: none;
	}
	.popovercontentbig {
		display: block;
	}
	.preziFrame {
		min-height: 300px;
	}
}
/*@media only screen and (min-width: 481px), only screen and (min-device-width: 481px) {*/
@media only screen and (min-width: 481px) {
	#contact {
		background: url(../img/about.jpg) 50% 0 fixed; 
	}
	#languages {
		background: url(../img/home.jpg) 50% 0 fixed;
		background-size: cover;
	}
	.popovercontent {
		display: block;
	}
	.popovercontentbig {
		display: none;
	}
	.preziFrame {
		min-height: 700px;
	}
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
p {
	width: 98%;
	padding-top: 6px;
	text-align: justify;
	text-justify: auto;
}
#intro { 
	background-color: #C5C5C5;
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 140px 0;
}
#languages {
	height: auto;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 200px 0;
}
#languages ul {
	margin-left: -24px;
}
#contact {
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 100px 0;
	color: #C4C4C4;
}
#carousel {
	background-color: #528DCF; 
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 100px 0;
	color: #fff;
}
#prezi { 
	background-color: #090F64;
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 140px 0;
}
/* Non-essential demo stuff */
.jumbotron {
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.jumbotron p {
	text-indent: 2em;
}
.preziFrame {
	width: 100%;
	border: none;
}
.media-object { 
	width: 64px; 
	height: 64px; 
	padding-bottom: 30px 
}
.carousel-caption {
	width: 80%;
	padding-top: 0;
	background-color: #558CDF;
}
.carousel-caption a{
	font-weight: bold;
	color: #FFFFFF;
}
#michael {
	width: 160px;
	height: auto;
	margin-top: -100px;
	float: right;
	display:inline;
}
#jlpt {
	width: auto;
	height: 200px;
	margin-top: -100px;
	float: right;
	display:inline;
}
#toeic {
	width: 160px;
	height: auto;
	margin-top: -50px;
	float: right;
	display:inline;
}
#polish {
	width: 160px;
	height: auto;
	margin-top: -50px;
	float: right;
	display:inline;
}
#few {
	text-align: center;
	color: #3A6303;
}
.container h1 {
	color: #2C9D1C;
}
.carousel-control {
	z-index: 99;
}
.btn-info {
	color: #056374;
}
#links a {
	margin-top: 4px;
}
#validate {
	margin-top: 50px;
}